body {
  margin: 0px;
  background-color: #E8E8E8;
}
header {
  height: 82px;
  width: 90%;
  background-color: #FFFFFF;
  border: 1px dashed black;
  margin: auto;
}
main {
  height: 2400px;
  width: 90%;
  background-color: #FFFFFF;
  border: 1px dashed red;
  margin: auto;
}
footer {
  height: 391px;
  width: 90%;
  background-color: #FFFFFF;
  border: 1px dashed blue;
  margin: auto;
}